@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
    color: #243e63;
}

nav {
    height: 80px;
    display: flex;
}

.nav__row {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

}    


.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
    width: 160px;
}

.nav__logo--img {
    width: 40px;
    height: 40px;
}

.nav__logo--title__text {
    font-size: 24px;
    font-weight: 900;
    margin-left: 12px;
    padding-bottom: 2px;
    letter-spacing: 0.6px;
}

.nav__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav__link {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 0 24px;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}

.nav__link:hover {
    color: #6415ff;
    border-bottom: 2px solid #6415ff;
    text-decoration: underline;
}

.nav__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
}

.nav__link--primary:hover {
    background: #4c0fb3;
    text-decoration: none;
}

